---
import Layouts from "@layouts/Layouts.astro";
import Header from "@components/legal/Header.astro";
import {
  Intro
} from "@components/legal/privacy-policy";
---

<Layouts
  title="Privacy Policy | Complete Farmer"
  description="We are providing cutting-edge technological farming protocols and innovations with a unique business model and logistics that are revolutionizing..."
>
  <Header
    title="Privacy Policy"
    modifiedTime="Last modified: November 29, 2024"
  />
  <div class="bg-white py-8 sm:py-14 sm:px-6">
    <div class="px-6 lg:px-8 text-justify">
      <Intro />
    </div>
  </div>
</Layouts>
