---
import Layouts from "@layouts/Layouts.astro";

import Header from "@components/legal/Header";
import {
  Intro,
  SocialSharing,
  UpdatesToPrivacy,
  InformationWeCollect,
  InformationWithOthers,
  InformationYouProvide,
  CollectionPrivacyInfo,
  ProtectionOfPersonalInfo,
  DisclosureOfPersonalInfo,
  InformationAboutTransaction,
} from "@components/legal/privacy-policy";
---

<Layouts
  title="Privacy Policy | Complete Farmer"
  description="We are providing cutting-edge technological farming protocols and innovations with a unique business model and logistics that are revolutionizing..."
>
  <Header
    title="Privacy Policy"
    modifiedTime="Last modified: 28 January 2022"
  />
  <div class="bg-white py-8 sm:py-14 sm:px-6">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <Intro />
      <CollectionPrivacyInfo />
      <InformationYouProvide />
      <InformationAboutTransaction />
      <InformationWithOthers />
      <SocialSharing />
      <InformationWeCollect />
      <ProtectionOfPersonalInfo />
      <DisclosureOfPersonalInfo />
      <UpdatesToPrivacy />
    </div>
  </div>
</Layouts>

<script type="text/javascript">
  window.dataLayer.push({
    event: "pageview",
    page: "/legal/privacy-policy",
  });

  // ga("set", "page", "/contact-us");
  // ga("send", "pageview");

  window.fbq("track", "PageView");

  // https://www.thyngster.com/google-tag-manager-google-analytics-4-ga4-events-setup-with-a-single-tag
  // https://www.thyngster.com/tracking-google-analytics-4-events-using-data-attributes
  // https://developers.facebook.com/docs/meta-pixel/advanced/
  // https://developers.facebook.com/docs/meta-pixel/implementation/conversion-tracking
</script>
