---
import { Image } from "astro:assets";

import { ArrowIcon } from "@assets/icons";
import { classNames } from "@utils/functions";

interface Props {
  title: string;
  titleColor: string;
  button: {
    href?: string;
    textColor: string;
    bgColor: string;
  };
  image: ImageMetadata;
}

const { image, title, button, titleColor } = Astro.props;
---

<div
  class="w-full h-full bg-grower-400 bg-interested-in-agent-mobile md:bg-interested-in-agent-tablet xl:bg-interested-in-agent bg-center bg-cover bg-no-repeat flex flex-col py-10 sm:p-0 lg:p-10"
>
  <div
    class="max-w-7xl mx-auto w-full flex flex-col-reverse md:flex-row items-center sm:justify-between px-5 sm:p-10"
  >
    <div class="flex flex-col justify-center items-start gap-6">
      <p
        class={classNames(
          titleColor,
          "text-[28px] md:text-[32px] lg:text-[56px] leading-8 md:leading-10 lg:leading-[74px] font-bold text-center sm:text-left pt-10 sm:pt-0 lg:pt-10 pb-6 sm:pb-0 lg:pb-6"
        )}
      >
        <Fragment set:html={title} />
      </p>
      <a
        id={button.href === "#" ? "get-started-1" : undefined}
        href={button.href}
        class={classNames(
          button.bgColor,
          button.textColor,
          "flex justify-center items-center w-full md:w-fit gap-2 px-8 py-4 rounded-full"
        )}
      >
        <span class="text-base font-bold text-left"> Get Started</span>
        <ArrowIcon />
      </a>
    </div>
    <Image src={image} alt={title} class="sm:h-[220px] lg:h-auto" />
  </div>
</div>

<script></script>
