---
import Title from "./Title.astro";
---

<div>
  <Title name="Collection and Control of Personal Information" />
  <div
    class="text-base sm:text-xl space-y-1.5"
  >
    By using our Services and associated microsites, you agree to the processing
    of your personal information including your non-public personal information
    (collectively referred to as “Personal Information”), including the
    placement of cookies on your device.
    <br />
    <br />
     As part of our operations, We collect offline or online data that makes a
    person identifiable such as names, addresses, usernames and passwords,
    digital footprints, photographs, financial data etc.
    <br />
    <br />
     Personal Information provided by you when We initiate a business
    relationship should be accurate and relevant to enable us to process your
    request. By initiating a business relationship with Us, you are consenting
    to our collection, use, storage and disclosure of this information to
    appropriate third parties for the purposes described in this Policy.
  </div>
</div>
