---
import Title from "./Title.astro";
---

<div>
  <Title name="Disclosure of Personal Information" />
  <div
    class="text-base sm:text-xl space-y-1.5"
  >
    We may disclose any information we collect as follows:
    <br />
    <br />
    <ol class="ml-8 mt-2 mb-2 list-decimal space-y-1.5">
      <li>
        To your financial service providers, including the financial
        institutions identified in your Complete Farmer account registration
        application that provide banking services in connection with your
        Complete Farmer account;
      </li>
      <li>
        To statutory bodies in accordance with relevant national legislation;
      </li>
      <li>
        To another user, when you sign up for our Services via a referral link.
        The user that referred you may receive information indicating that you
        have enrolled with Complete Farmer. You may avoid this sharing by not
        using a referral link to enrol;
      </li>
      <li>
        To business partners, affiliated companies and authorized service
        providers, We disclose Personal Information to as is necessary to
        provide our Services. These service providers are contractually
        restricted from using or disclosing the information except as necessary
        to perform services on our behalf or to comply with legal requirements.
        We do not rent, sell or otherwise disclose Personal Information about
        our online visitors with unaffiliated third parties for their own
        marketing use.
      </li>
      <li>
        With a non-affiliated third-party to access and transmit your personal
        and financial information from a relevant financial institution. You
        grant the third-party the right, power, and authority to access and
        transmit this information according to terms of their privacy policy;
      </li>
      <li>
        With other non-affiliated companies for our everyday business purposes,
        such as to process transactions, maintain accounts, respond to court
        orders and legal investigations or report to credit bureaus. For
        example, in connection with our everyday business purposes, We may share
        information about you as follows:
        <ol class="ml-8 mt-2 mb-2 list-disc space-y-1.5">
          <li>
            In response to a request for information, if We are required by, or
            We believe disclosure is in accordance with, any applicable law,
            regulation or legal process; with relevant law enforcement officials
            or other third parties, such as investigators or auditors, if We
            believe it is appropriate to investigate fraud; if We believe your
            actions are inconsistent with the spirit or language of our user
            agreements or policies, or to protect the rights, property and
            safety of Complete Farmer or others;
          </li>
          <li>
            In connection with, or during negotiations of, any merger, sale of
            Complete Farmer’s assets, financing or acquisition of all or a
            portion of our business to another company; and with your consent or
            at your direction, including if We notify you that the information
            you provide will be shared in a particular manner and you provide
            such information.
          </li>
        </ol>
      </li>

      <li>
        We may also share aggregated or de-identified information, which cannot
        reasonably be used to identify you. For example, We may share
        information about the produce, the price, quantity shipped, delivery
        date and delivery point to improve the clarity of transaction
        descriptions.
      </li>
    </ol>
  </div>
</div>
