---
import Title from "./Title.astro";
---

<div>
  <Title name="Information About Your Transactions with Us" />
  <div
    class="text-base sm:text-xl space-y-1.5"
  >
    All defamatory, abusive, profane, threatening, offensive, or illegal
    material is strictly prohibited. We collect Personal Information in
    connection with your transactions with Us such as bank account details and
    your identification details. We may also collect photos, memos or other
    information that you attach to your transactions.
  </div>
</div>
