---
import Title from "./Title.astro";
---

<div>
  <Title name="Information You Provide to Us" />
  <div
    class="text-base sm:text-xl space-y-1.5"
  >
    Users: We collect Personal Information from our users when you apply for an
    account or when you communicate with Us about your account. You may edit
    your account profile information by logging into your account via our
    website. If you wish to delete or deactivate your account, please contact
    Us, but note that We may retain certain information as required by law or
    for legitimate business purposes. You may opt out of receiving promotional
    emails and text messages by following the instructions in those messages.
    Please note that if you opt out, We may still send you transactional or
    relationship messages, such as those about your account or our ongoing
    business relations.
    <br />
    <br />
     Business Partners: We collect and process Personal Information of relevant
    prospects, customers and partners before We establish, execute or terminate
    a contract.
  </div>
</div>
