<div>
  <div class="mx-auto max-w-4xl prose prose-base sm:prose-lg space-y-1 prose-strong:text-xl prose-strong:whitespace-pre-line prose-h2:whitespace-pre-line prose-h2:text-3xl prose-h4:text-xl prose-h4:whitespace-pre-line prose-h4:inline-flex prose-h4:leading-none prose-li:leading-normal [word-spacing:normal] leading-relaxed tracking-normal">
  <section>
    <p>Complete Farmer Technologies Inc. (“Complete Farmer,” “we,” “us,” or “our”) respects the privacy of its Users (“User,” “your,” or “you”).
      This Privacy Policy (the “Privacy Policy”) explains how we collect, use, disclose, and safeguard your information when you use Complete Farmer’s Services (the “Services”) through Complete Farmer’s website at https://www.completefarmer.com (the “Website”) or Complete Farmer’s mobile application (the “App”).</p>


<p>    Complete Farmer is a Ghana-based Agri-Tech company that offers a comprehensive digital platform aimed at revolutionizing agriculture. The platform connects farmers, buyers, and investors through a crowd-farming model, making it easy for individuals to invest in, monitor, and manage farms remotely. Utilizing the Internet of Things (IoT) and climate-smart farming technologies, Complete Farmer ensures efficient, data-driven farming practices that align with global market standards. Their services include providing expert agronomic support, facilitating crop procurement, and enabling seamless transactions between stakeholders, all of which contribute to a more sustainable and profitable agricultural value chain.
</p>

<p>    Complete Farmer is committed to protecting the privacy of its Users whose information is collected and stored while using Complete Farmer’s Services through our Website or App. This Privacy Policy is applicable to our Website, Services, and all applications offered for sale to the public.
</p>

<p>    The capitalized terms have the same meaning as ascribed in our Terms & Conditions as applicable, unless otherwise noted here.
</p>

    <p>
      PLEASE READ THIS PRIVACY POLICY CAREFULLY TO UNDERSTAND OUR POLICIES AND PRACTICES REGARDING YOUR INFORMATION AND HOW WE WILL TREAT IT. BY ACCESSING OR USING OUR WEBSITE, APP, AND SERVICES, YOU AGREE TO ACCEPT ALL THE TERMS CONTAINED IN THIS PRIVACY POLICY AND ACKNOWLEDGE AND AGREE WITH THE PRACTICES DESCRIBED HEREIN. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS AND USE OUR WEBSITE, APP, AND SERVICES.
      IF YOU HAVE ANY QUESTIONS REGARDING THIS PRIVACY POLICY, PLEASE SEND US AN EMAIL AT <a class="text-grower-500" href="mailto:privacy@completefarmer.com">PRIVACY@COMPLETEFARMER.COM</a>
      WE DO NOT SELL YOUR PERSONAL INFORMATION, NOR DO WE INTEND TO DO SO. WE DO NOT GIVE ACCESS TO YOUR PERSONAL INFORMATION TO THIRD PARTIES EXCEPT TO SUBPROCESSORS TO ASSIST US IN THE PROVISION OF OUR SERVICES TO YOU.
    </p>
    </section>

    <section>

        <strong>2. WHAT INFORMATION DO WE COLLECT?</strong>
<p>        When you register to use our Website, App, or Services, we collect personal information (also referred to as personally identifiable information or “PII”) which may include your name, address, online contact information such as your email address or username, phone number, and other personal information. The information so collected will be stored on our servers. You are able to change your personal information via email by contacting us at privacy@completefarmer.com or through your profile or account settings on our Website, App, or Services.
</p>
<p>        Geolocation and Equipment Information.  We may collect information that does not personally identify you such as (i) your geolocation, and (ii) information about your internet connection, the equipment you use to access our Website, App, or Services, and usage details.
</p>
<p>        Financial Information. We currently do not collect or store any credit cards or bank information. However, we will update this Privacy Policy when we start using and storing such information. We will also inform you via reasonable means if we start collecting such information from you.
</p>
    </section>

    <section>

    <h2><strong>3. HOW DO WE COLLECT INFORMATION?</strong></h2>
<p>    We collect personal information from you in the following ways:
</p>
    <ul>
<li>      At registration on our Website, App, or Services;
</li>
<li>      In email, text, and other electronic messages between you and our Website, App, or Services;
</li>
<li>      Through mobile and desktop applications your downloads from our Website, App, or Services, which provides dedicated non-browser-based interaction between you and our Website, App, or Services;
</li>
<li>      When you interact with our advertising and applications on third-party website and services, if those applications or advertising include a link to this Privacy Policy;
</li>
<li>      From you placing an order, which includes details of transactions you carry out on our Website, App, or Services;
</li>
<li>      When you subscribe to a newsletter;
</li>
<li>      From your responses to a survey;
</li>
<li>      From forms filled out by you;
</li>
<li>      From records or copies of correspondences (including email addresses) if you contact us;
</li>
<li>      From search queries on our Website, App, or Services; and
</li>
<li>      When you post information to be published or displayed on our Website, App, or Services.
</li>
<li>      We collect information from you automatically when you navigate through our Website, App, or Services in the following ways:
</li>
<li>      Usage details;
</li>
<li>      IP addresses;
</li>
<li>      Information obtained through browser cookies;
</li>
<li>      Information obtained through flash cookies;
</li>
<li>      Web beacons on our Website;
</li>
<li>      Web beacons on emails sent by us; and
</li>
<li>      Other tracking technologies.
</li>    </ul>

    <section>

    <h2><strong>4. HOW DO WE USE YOUR INFORMATION?</strong></h2>

<p>    We use the information that you provide to:
</p>

<ul>
<li>
  Personalize your experience in using our Services;
</li>
  <li>
    Provide you with information, products, or services requested from us;
  </li>
<li>
  Present our Website, App, and Services and their contents to you;
</li>
<li>
  Provide you with notices about account and/or subscription, including expiration and renewal notices;
</li>
<li>
  Carry out obligations and enforce rights arising from contracts entered into between you and us, including billing and collection;
</li>
<li>
  Notify you about changes to our Website, App, and Services and any products or services;
</li>
<li>
  Allow you to participate in interactive features on our Website, App, and Services;
</li>
<li>
  Improve the Website, App, and Services;
</li>
  <li>
    Improve our customer service;
  </li>
  <li>
    Administer contests, promotions, and surveys or other Website, App, and Services features;
  </li>
  <li>
    Process transactions;
  </li>
  <li>
    Anonymize data and aggregate data for statistics;
  </li>
<li>
  Contact you for other purposes with your consent;
</li>
<li>
  Contact you about our products and services that may be of interest;
</li>
<li>
  Contact you about third parties’ goods and services;
</li>
<li>
  Enable the display of advertisements to our advertisers’ target audiences, although personal information is not shared with advertisers without your consent; and
</li>
  <li>
    Send you periodic emails, in accordance with the CAN-SPAM Act of 2003 as detailed in Section 14, via the email address provided by you to (i) send information, respond to inquiries, and/or other requests or questions; (ii) process orders and send information and updates pertaining to such orders; (iii) send additional information related to your product and/or service; and (iv) market to our mailing list or continue to send email to you after the original transaction has occurred.
  </li>
</ul>
    </section>

    <section>

    <h2><strong>5. OUR COOKIE POLICY</strong></h2>
<p>
  Cookies are small pieces of text used to store information on web browsers. Cookies are used to store and receive identifiers and other information on computers, phones, and other devices. Other technologies, including data we store on your web browser or device, identifiers associated with your device, and other software, are used for similar purposes. In this Privacy Policy, we refer to all of these technologies as “Cookies.”
</p>
      <p>
        We use Cookies on our Website and App to (a) help remember and process items in the shopping cart, (b) understand and save your preferences for future visits, (c) keep track of advertisements, (d) compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future, and (e) allow trusted third-party services that track this information on our behalf.  You can set your browser to refuse all or some browser Cookies, but it may affect your user experience. We honor Do Not Track signals and, if one is in place, we will not track, plant cookies, or use advertising.
      </p>
<p>
  We allow third party behavioral tracking and links to third-party web pages.  Occasionally, at our discretion, we may include or offer third-party products or services on our Website, App, or Services.  These third-party sites have separate and independent privacy policies.  We, therefore, have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our Website, App, or Services and welcome any feedback at about these sites.  Please contact us at <strong><em>privacy@completefarmer.com</em></strong>.
</p>
       </section>

        <section>

        <h2><strong>6. HOW DO WE PROTECT INFORMATION WE COLLECT?</strong></h2>
          <p>
            Our Website and App are reasonably scanned to meet or exceed PCI Compliance. Our Website and App receive regular security scans and penetration tests.  Our Website and App also receive regular malware scans.  In addition, our Website and App use an SSL certificate as an added security measure. We require username and passwords for our employees who can access your personal information that we store and/or process on our Services and servers. In addition, we actively prevent third parties from getting access to your personal information that we store and/or process on our Services and servers.  We accept payment by credit card through a third party credit card processor on our behalf.  We will implement reasonable security measures every time you (a) place an order, or (b) enter, submit, or access your information, (c) register, or (d) access our Services, on our Website and App.
          </p>
        </section>

        <section>

        <h2><strong>7. DATA SECURITY MEASURES.</strong></h2>
<p>        (a) Security Measures.  We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure. All information you provide to us is stored on our secure servers behind firewalls.  The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts of our Website, App, or Services, you are responsible for keeping this password confidential. We ask you not to share your password with anyone. Unfortunately, the transmission of information via the internet is not completely secure. Although we do our best to protect your personal information, we cannot guarantee the security of your personal information transmitted to our Website, App, or Services. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on our Website, App, or Services.
</p>
          <p>
            (b) Fair Information Practice Principles.  In the event of a personal data breach, we will notify you within fifteen (15) days via (i) email and/or (ii) our Services notification system on our Website and/or App.  We agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.
          </p>
        </section>

        <section>

            <h2><strong>8. DISCLOSURE OF PERSONAL INFORMATION</strong></h2>
<p>
  There are times when we may share Personal Information that you have shared with us may be shared by Complete Farmer with others to enable us to provide you over Services, including contractors, service providers, and third parties (“Partners”). This section discusses only how Complete Farmer may share such information with Partners. We will ensure that our Partners protect your Personal Information. The following describe how and with whom we may share your Personal Information:
</p>

          <h2>
          <strong>Disclosure of Personal Information</strong>
          </h2>
          <ul>
<li>
  We may disclose aggregated, de-personalized information about you that does not identify any individual to other parties without restriction, such as for marketing, advertising, or other uses.
</li>
<li>
  We may disclose personal information to our subsidiaries and affiliates.
</li>
<li>
  We may disclose personal information to contractors, service providers, and other third parties.
</li>
            <li>
              We require all contractors, service providers, and other third parties to whom we disclose your personal information to be under contractual obligations to keep personal information confidential and to use it only for the purposes for which we disclose them.
            </li>
            <li>
              We may disclose personal information in the event of a merger, sale of business, etc.
            </li>
            <li>
              We may disclose to third parties to market their products and services to you if you have either consented or not opted out of these disclosures.
            </li>
            <li>
              We require all other Partners, to whom we disclose your personal information, to enter into contracts with us to keep personal information confidential and use it only for the purposes for which we disclose it to such Partners.
            </li>
            <li>
              We disclose personal information to fulfill the purpose for which you have provided it, for instance, if you gave us an email address to use the “email a friend” feature of the Services.
            </li>
            <li>
              We may disclose personal information for any other purpose for which you have provided it.
            </li>
            <li>
              We may only disclose personal information as described in this Privacy Policy or with your consent.
            </li>
          </ul>

      <h2>Other Disclosure of Personal Information</h2>
      <p>
        We will disclose personal information (i) to comply with any court order, law, or legal process, including to respond to any government or regulatory request,
      </p>
<p>        (ii) to enforce or apply our Terms & Conditions and other agreements, including for billing and collection purposes,
</p>
        <p>
          (iii) if we believe it is necessary or appropriate to protect the rights, property, or safety of Complete Farmer, our customers or others,
          and/or (iv) if it is necessary or appropriate to protect the rights, property, or safety of Complete Farmer, our customers, or others, and this includes exchanging information with other companies and organizations for the purposes of fraud protection and credit risk reduction.
        </p>


      <h2>Third Party Disclosure</h2>
      <p>
        We do not sell, trade, rent, or otherwise transfer personal information to others, unless we provide you with advance notice.
      </p>
<p>
  This does not include our hosting partners and other parties who assist us in operating our Website, App, or Services, conducting our business, or servicing you, so long as those parties agree to keep this information confidential.
</p>
          <p>
            We do not provide non-personally identifiable visitor information for marketing purposes.
          </p>

      <h2>Choices Users Have About How Complete Farmer Uses and Discloses Information</h2>
      <ul>
        <li>
          <strong>Tracking Technologies and Advertising:</strong>

          Users can set their browser to refuse some or all the browser cookies, but if you disable or refuse cookies, some parts of our Website may not be accessible or function properly.
        </li>

        <li>
          <strong>Disclosure of Users’ Information for Third-Party Advertising:</strong>

          Users can opt-out by:

          <p>
            (i) Checking the relevant form when we collect the data;
          </p>
          <p>
            (ii) Logging into the Website, App, or Services and adjusting their preferences in their account profile by checking or unchecking the relevant boxes; or
          </p>
          <p>
            (iii) Emailing us their opt-out request at <a class="text-grower-500" href="mailto:privacy@completefarmer.com">privacy@completefarmer.com</a>.
          </p>
          <p>
            Users receiving promotional email can opt-out by sending a return email requesting to be omitted from future promotional email distributions. This opt-out will not apply to information provided by Complete Farmer for product purchases, warranty registration, or other transactions.
          </p>
        </li>
        <li>
          <strong>Disclosure of Users’ Information for Targeted Advertising:</strong>
<p>          Users can opt-out by:
</p>
          <p>
            (i) Checking the relevant form when we collect the data;
          </p>
          <p>
            (ii) Logging into the Website, App, or Services and adjusting their preferences in their account profile by checking or unchecking the relevant boxes; or
          </p>
          <p>
            (iii) Emailing us their opt-out request at <a class="text-grower-500" href="mailto:privacy@completefarmer.com">privacy@completefarmer.com</a>.
          </p>
        </li>
      </ul>
    </section>

    <section>

      <h2><strong>9. GOOGLE ADSENSE AND GOOGLE ANALYTICS</strong></h2>
      <p>
        Google, as a third-party vendor, uses Cookies to serve advertisements to Users on our Website, App, and Services.
      </p>
<p>
  Google uses first-party Cookies, such as Google Analytics Cookies, to compile data regarding User interactions with ad impressions and other ad service functions as they relate to our Services.
</p>
<p>
  We currently use Google Analytics to collect and process certain Website and App usage data.
</p>
      <p>
        To learn more about Google Analytics and how to opt-out, please visit
        <a class="text-grower-500" href="https://policies.google.com/privacy/google-partners" target="_blank" rel="noopener noreferrer">
          https://policies.google.com/privacy/google-partners
        </a>.
      </p>

      <p>
        We have implemented advertising features on our Website, App, and Services, including:
      </p>
       <ul>
      <li>(a) Remarketing with Google AdSense;</li>
      <li>(b) Google Display Network Impression Reporting;</li>
      <li>(c) Google Demographics and Interests Reporting; and</li>
      <li>(d) Google’s DoubleClick platform integration.</li>
    </ul>


      <p>
        We use these Cookies to compile data regarding User interactions with ad impressions and other ad service functions as they relate to our Website or App.
      </p>
    </section>

    <section>

      <h2><strong>10. FOR OUR EUROPEAN CUSTOMERS AND VISITORS</strong></h2>
      <p>
        We are headquartered in Ghana. Most of the operations are located in Ghana. Your Personal Information, which you
        give to us during registration or use of our Website, App or Services, may be accessed by or transferred to us in
        the United States.
        If you are visiting our Website or registering for our Services from outside the United States, be aware that your
        Personal Information may be transferred to, stored, and processed in the United States. Our servers or our
        third-party hosting services partners are located in the United States.
        By using our site, you consent to any transfer of your Personal Information out of Europe, UK, or Switzerland for
        processing in the US or other countries.
      </p>

      <p>
        If you are a resident of or a visitor to Europe, you have certain rights with respect to the processing of your
        Personal Data, as defined in the General Data Protection Regulation (“GDPR”).
        Please note that in some circumstances, we may ask you to provide us with additional information in connection
        with your request, which may be Personal Data, for example, if we need to verify your identity or the nature of
        your request.
        In such situations, however, we will still respond to let you know of our decision.
      </p>

      <p>
        As used herein, “Personal Data” means any information that identifies you as an individual, such as name, address,
        email address, IP address, phone number, business address, business title, business email address, company, etc.
      </p>

      <h3>EU Standard Contractual Clauses</h3>
      <p>
        On June 4, 2021, the EU promulgated a new set of SCCs (the “New SCCs”), which replaced the old SCCs which had been
        in place for over a decade. We now comply with the New SCCs with respect to the transfer of Personal Data from the
        EU to the US and other countries for Processing, as defined in the GDPR.
        If there is any conflict between the terms and conditions in this Privacy Policy and your rights under the New
        SCCs, the terms and conditions in the New SCCs will govern.
      </p>

      <h4>The New SCCs</h4>
      <p>
        The New SCCs took effect on June 27, 2021.</p>
        <p>
          The Old SCCs may still be used for new data transfers in new contracts during a three-month transition period that
          ends on September 27, 2021.
        </p>
        <p>
          Existing data transfer contracts that rely on the Old SCCs can be used until December 27, 2022, by which time all
          data transfers relying on the Old SCCs must be transitioned to the New SCCs.
        </p>
        <p>
          As of now, we and our customers are using the New SCCs to transport Personal Data from the EU to other countries
          including the US for processing by us.
        </p>
        <p>
          You are the Controller, as defined in the GDPR, and the Exporter, as defined in the New SCCs, of the Personal Data
          and we are a processor, as defined in the GDPR, and the Importer of such Personal Data.
        </p>
        <p>
          You agree to comply with the GDPR rules that apply to Controllers and the New SCCs rules that apply to Data
          Exporters. We agree to comply with the GDPR rules that apply to Processors and the New SCCs rules that apply to
          Data Importers.
        </p>


      <h3>Our GDPR Compliance Commitment</h3>
      <p>
        We agree to fully comply with the letter and the spirit of the GDPR and the New SCCs with respect to the transfer
        or your Personal Data for Processing outside the EU.</p>
        <p>
          As a Data Importer, a User may contact us as set forth in Subsection 9(d) below with respect to the Personal Data
          we store and process on you.
        </p>
        <p>
          We hereby notify you that we will be processing, as defined in the GDPR, the Personal Data of your Authorized
          Users (i.e., those individuals whom you have authorized to access our Services and to use our Services) in the US,
          Canada, and Turkey for us to be able to provide the Services to you that we have agreed to do in our definitive
          service agreement between you and us.
        </p>
      <p>
        Upon request, we will provide you with a list of your Personal Data that we will process and a copy of the New
        SCCs under which we will transport your Personal Data for processing.
      </p>
        <p>
          We hereby warrant that, at the time of agreeing to the SCCs for the transport of your Personal Data, we have no
          reason to believe that the laws and practices applicable to us as a data processor and a data importer, including
          those of the US, Canada, and Turkey, are not in line with the requirements of the New SCCs.
        </p>
        <p>
          If we cannot satisfy any request or dispute to your satisfaction, we will agree to arbitrate or litigate the
          dispute in the EU jurisdiction in which you reside.
        </p>
        <p>
          We will only transfer your Personal Data to a third country in accordance with documented instructions from you.
          Your Personal Data will be transferred and stored in an encryption format.
        </p>
        <p>
          Only our employees, who have a need to access your Personal Data to enable us to meet our contractual and legal
          obligations to you, will be given access to your Personal Data.
        </p>
        <p>
          Such employees will be given a User Name and Password to access your Personal Data.
        </p>
        <p>
          We will keep an automated record of all persons who have accessed your Personal Data.
        </p>


      <h3>Rights of Data Subjects</h3>
      <p>
        To make any of the following requests, with respect to this Privacy Policy, our Terms of Use, and/or Personal
        Data, please contact us:
        (i) via email at <a class="text-grower-500" href="mailto:privacy@completefarmer.com">privacy@completefarmer.com</a>, or
        (ii) by writing to us at Complete Farmer, 11 Molade-Akiwumi Street, Airport West, Accra.
      </p>

      <ul>
        <li><h4>Access:</h4> You can request more information about the Personal Information we hold about you. You
        can also request a copy of the Personal Information.</li>
        <li><h4>Rectification:</h4> If you believe that any Personal Information we are holding about you is
        incorrect or incomplete, you can request that we correct or supplement such data. Please contact us as soon as
        possible upon noticing any such inaccuracy or incompleteness.</li>
        <li><h4>Objection:</h4> You can contact us to let us know that you object to the collection or use of your
        Personal Information for certain purposes.</li>
        <li><h4>Erasure:</h4> You can request that we erase some or all of your Personal Information from our
        systems.</li>
        <li><h4>Restriction of Processing:</h4> You can ask us to restrict further processing of your Personal
        Information.</li>
        <li><h4>Portability:</h4> You have the right to ask for a copy of your Personal Information in a
        machine-readable format. You can also request that we transmit the data to another entity where technically
        feasible.</li>
        <li><h4>Withdrawal of Consent:</h4> If we are processing your Personal Information based on your consent,
        you have the right to withdraw your consent at any time. Please note, however, that if you exercise this right, it
        may limit your ability to use some/all of our Services.</li>
        <li><h4>Right to File Complaint:</h4> You have the right to lodge a complaint about our practices with
        respect to your Personal Information with the supervisory authority of your country or EU Member State. Please go
        to <a class="text-grower-500" target="_blank" href="https://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm">
        this link</a> to locate your Data Protection Authority in the EU. You may contact the UK’s Information
        Commissioner at <a class="text-grower-500" target="_blank" href="https://ico.org.uk/make-a-complaint">this link</a> or by telephone: 0303 123 1113.</li>
      </ul>

      <p>We will respond to your inquiry within thirty (30) days of receipt.</p>
    </section>

    <section>

      <h2><strong>11. FOR OUR CANADIAN USERS</strong></h2>
      <p>
        This Section supplements the information contained in our Privacy Policy above and applies solely to all visitors, users, and others to our Website, App, or Services, who reside in Canada (“consumers” or “you”).
        We ensure compliance with the Personal Information Protection and Electronics Document Act of 2000 (“PIPEDA”), and any terms defined in the PIPEDA have the same meaning when used in this Section.
      </p>

      <h3>Definition of Personal Information</h3>
      <p>
        Any information about an identifiable individual, whatever may be the physical form or characteristics of a particular regime for “business contact information” (name, position, title, address, professional phone number, etc.).
      </p>

      <h3>Right to Access Personal Information</h3>
      <p>
        You can request to access your personal information we hold about you. We will first confirm whether you have requested such information, explain how we have used your information, provide a list of names with whom your information has been shared, provide a copy of your information in an accessible format, and make alternative formats available if requested.
      </p>

      <h3>Right to Correction/Limited Right to Deletion</h3>
      <p>
        You can request us to correct or delete your information if you demonstrate that the personal information we hold on you is inaccurate.
        We will delete or correct your information within thirty (30) calendar days.
        When we delete/correct your personal information, we will inform the third parties with whom we have shared your information.
      </p>

      <h3>Right to be Forgotten</h3>
      <p>
        Your information will be kept with us for as long as it is required for the fulfillment of the purposes of the Complete Farmer platform.
        Unless we otherwise give you notice, we will retain your Information on the Complete Farmer Services on your behalf until such times as you or we terminate your User Account.
      </p>

      <h3>Data Breach Notification</h3>
      <p>
        We will send a notification to you as soon as feasible regarding any breach that creates a “real risk of significant harm” to you.
        We keep a record of every data breach and, on request, provide the Office of the Privacy Commissioner with access to the record.
      </p>

      <h3>Two Factor Authentication</h3>
      <p>
        You may enable two-factor authentication on your account to help ensure that only you can access your account.
        If you do, in addition to entering your password to log in to your account to access the Complete Farmer Services, we will send a code to your mobile number, which you will need to enter.
        This added security prevents anyone else from accessing your Complete Farmer account unless they have access to your login information.
      </p>
    </section>

    <section>
      <h2>FOR OUR GHANA AND AFRICA CUSTOMERS</h2>
      <p>This section supplements the information contained in our Privacy Policy and applies solely to all users in Ghana and other African countries:</p>

      <h3>Compliance with Ghana’s Data Protection Act, 2012 (Act 843)</h3>
      <p>We comply with the requirements of Ghana’s Data Protection Act and similar data protection regulations across the African continent.</p>

      <h3>Data Storage and Transfer</h3>
      <p>
        Your personal data is stored securely on our servers, some of which may be located outside Ghana.
        Where data is transferred internationally, we ensure compliance with applicable safeguards, such as contractual obligations that meet international standards.
      </p>

      <h3>Consent Requirements</h3>
      <p>
        Your explicit consent is sought when collecting sensitive data.
        You may withdraw your consent at any time by contacting us at <a class="text-grower-500" href="mailto:privacy@completefarmer.com">privacy@completefarmer.com</a>.
      </p>

      <h3>Your Rights as a Data Subject</h3>
      <p>
        You have the right to request access to your data, request correction of inaccurate data, or request deletion of your personal information in compliance with local laws.
      </p>

      <h3>Data Breach Notifications</h3>
      <p>
        In the event of a data breach affecting your personal data, we will notify you within the time frame stipulated under Ghana’s Data Protection Act or applicable local regulations.
      </p>

      <p>For more information about how your data is handled in Ghana and Africa, please contact us at <a class="text-grower-500" href="mailto:privacy@completefarmer.com">privacy@completefarmer.com</a>.</p>
    </section>

    <section>
      <h2>FOR ALL CUSTOMERS</h2>
      <h3>Fairness and Transparency</h3>
      <p>
        We are committed to processing your personal information in a fair, lawful, and transparent manner.
        We provide clear and accessible information about how we handle your data, and you may contact us at any time for further clarification.
      </p>

      <h3>Global Standards of Data Protection</h3>
      <p>
        Complete Farmer aligns its data processing practices with internationally recognized standards, including principles of data minimization, accuracy, and security.
        We take necessary steps to ensure that your data is handled securely, irrespective of your geographic location.
      </p>

      <h3>Your Rights</h3>
      <p>
        You have the right to access, correct, delete, or object to the processing of your personal data.
        For detailed procedures to exercise these rights, please contact us at <a class="text-grower-500" href="mailto:privacy@completefarmer.com">privacy@completefarmer.com</a>.
      </p>

      <h3>Retention Policy</h3>
      <p>
        Personal data is retained only for as long as necessary to fulfill the purposes for which it was collected or to comply with legal obligations.
      </p>
    </section>

    <section>

      <h2><strong>12. YOUR CALIFORNIA PRIVACY RIGHTS</strong></h2>
      <p>
        Complete Farmer does not sell, trade, or otherwise transfer to outside third parties your “Personal Information” as the term is defined under California Civil Code Section § 1798.82(h).
        Additionally, California Civil Code Section § 1798.83 permits Users of our Website, App, or Services that are California residents to request certain information regarding our disclosure of their Personal Information to third parties for their direct marketing purposes.
      </p>

      <p>
        To make a request for such disclosure, or identification and/or deletion of Personal Information in all our systems that we store on you, please send an email to
        <a class="text-grower-500" href="mailto:privacy@completefarmer.com">privacy@completefarmer.com</a>
        or write to us at:
        Complete Farmer,
        11 Molade-Akiwumi Street,
        Airport West,
        Accra, Ghana.
      </p>

      <p>
        Note that:
        (i) If we delete your Personal Information as requested, we will no longer be able to provide our services to you.
        (ii) We may need to keep such Personal Information for a while during the shutting down and billing process.
      </p>

      <p>
        If you would like to discuss our Personal Information storage and processing process with us, please send us an email at
        <a class="text-grower-500" href="mailto:privacy@completefarmer.com">privacy@completefarmer.com</a>
        or write to us at:
        Complete Farmer,
        03 11 Molade-Akiwumi Street,
        Accra, Ghana.
      </p>
    </section>


    <section>

      <h2><strong>13. CALIFORNIA CONSUMER PRIVACY ACT</strong></h2>
      <p>
        This section supplements the information contained in our Privacy Policy above and applies solely to all visitors, users, and others to our Website, App, or Services who reside in the State of California (“consumers” or “you”).
        We adopt this section to comply with the California Consumer Privacy Act of 2018 (“CCPA”). Any terms defined in the CCPA have the same meaning when used in this section.
      </p>

      <h3>Right to Request Personal Information</h3>
      <p>
        Upon request, we will provide you with:
        <ol>
          <li>A list of all Personal Information that we have collected on you.</li>
          <li>From whom we obtained such Personal Information.</li>
          <li>The reason why we collected such Personal Information.</li>
          <li>With whom (if any) we have shared such Personal Information.</li>
        </ol>
      </p>
      <p>
        If we sell your Personal Information or disclose your Personal Information to third parties, upon request, we will also provide:
        <ol>
          <li>A list of the Personal Information that we have collected on you.</li>
          <li>A list of the Personal Information that we sell or disclose to others on you.</li>
          <li>To whom we have sold or disclosed your Personal Information.</li>
        </ol>
        A consumer can make such a request only twice in a 12-month period.
      </p>

      <p>
        We require such Personal Information to be able to provide our Services to you.
        Unless otherwise specified, we only collect Personal Information directly from you and do not use third parties to provide us with your Personal Information.
      </p>

      <h3>Disclosure of Personal Information</h3>
      <p>
        We only share your Personal Information with service providers (e.g., billing and collection agents) who enable us to provide our Services to you.
        We do not sell or share your Personal Information with third parties for purposes unrelated to our provision of Services.
      </p>

      <h3>Right to Have Personal Information Deleted</h3>
      <p>
        Upon request, we will delete all of your Personal Information that we have collected and direct our Service Providers to also delete your Personal Information. However, please note that if we delete this information, you will no longer be able to use our Services.
      </p>

      <h3>Non-Discrimination Right</h3>
      <p>
        We will not discriminate against you for exercising any of your CCPA rights. Unless permitted by the CCPA, we will not:
        <ul>
          <li>Deny you goods or services.</li>
          <li>Charge you different prices or rates for goods or services, including through discounts, benefits, or penalties.</li>
          <li>Provide you with a different level or quality of goods or services.</li>
          <li>Suggest you may receive different prices, rates, or levels of goods or services.</li>
        </ul>
      </p>

      <h3>Financial Incentives</h3>
      <p>
        We may offer certain financial incentives permitted by the CCPA, which can result in different prices, rates, or quality levels. Any financial incentives we offer will be reasonably related to the value of your personal information and contain written terms that describe the program's material aspects. Participation in such programs requires your prior opt-in consent, which you may revoke at any time.
      </p>

      <h3>Under 16</h3>
      <p>
        We will not sell your Personal Information if you are under the age of 16 without the consent of your parent or guardian. Additionally, we will not sell your Personal Information if you request us not to do so.
      </p>
    </section>

    <section>

       <h2><strong>14. COPPA COMPLIANCE (FOR CHILDREN UNDER 13 USERS ONLY)</strong></h2>
       <p>
         The Children’s Online Privacy Protection Act (“COPPA”) is a federal legislation that applies to entities that collect and store “Personal Information” (as defined under COPPA) from children under the age of 13. We are committed to ensuring compliance with COPPA.
       </p>
       <p>
         Our Website, App, and Services are not intended for use by children under the age of 13. Our Website, App, and Services do not target children under the age of 13, but we do not currently have age-screening mechanisms or prevent the collection, use, or disclosure of personal information from individuals identified as under 13.
       </p>
       <p>
         If you would like to learn more about our practices, particularly in relation to COPPA compliance, please contact us at <a class="text-grower-500" href="mailto:privacy@completefarmer.com">privacy@completefarmer.com</a>.
       </p>
       <p>
         <strong>IF YOU ARE UNDER 13, PLEASE DO NOT ACCESS OR USE OUR WEBSITE, APP, OR SERVICES.</strong>
       </p>
    </section>


    <section>

      <h2><strong>15. CAN-SPAM ACT OF 2003</strong></h2>
      <p>
        The CAN-SPAM Act establishes requirements for commercial messages, gives recipients the right to have businesses stop emailing them, and outlines penalties for violations. Per the CAN-SPAM Act, we will:
      </p>
      <ul>
        <li>Not use false or misleading subjects or email addresses;</li>
        <li>Identify the email message as an advertisement in a reasonable way;</li>
        <li>Include the physical address of Complete Farmer: <strong>11 Molade-Akiwumi Street, Accra, Ghana</strong>;</li>
        <li>Monitor third-party email marketing services for compliance, if one is used;</li>
        <li>Honor opt-out/unsubscribe requests promptly;</li>
        <li>Give an “opt-out” or “unsubscribe” option.</li>
      </ul>
      <p>
        If you wish to opt out of email marketing, follow the instructions at the bottom of each email or contact us at <a class="text-grower-500" href="mailto:privacy@completefarmer.com">privacy@completefarmer.com</a> and we will promptly remove you from all future marketing correspondences.
      </p>

    </section>
    <section>

      <h2><strong>16. MODIFICATIONS TO OUR PRIVACY POLICY</strong></h2>

      <p>
        We will post any changes to this Privacy Policy in a notice at the bottom of our web page, with a hyperlink to the updated version. We will also send you an email describing such changes. Please regularly review this Privacy Policy. By continuing to use our services, you are bound by any changes that we make to this Privacy Policy.
      </p>

      </section>

      <section>

      <h2><strong>17. LIST OF THIRD-PARTY SERVICE PROVIDERS </strong></h2>
      <h3>List of Third-Party Service Providers</h3>

        <div class="w-full overflow-x-auto">
          <table class="min-w-full border-collapse">
            <thead>
            <tr>
              <th class="border w-3/6 p-4 bg-gray-50 text-left">Name of Third-Party Service Provider</th>
              <th class="border w-3/6 p-4 bg-gray-50 text-left">Contact Information</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="border p-4">Amazon Web Services Inc. (North Virginia, US)</td>
              <td class="border p-4">
                <p class="mb-2">
                  <strong>Website:</strong>
                  <a href="https://aws.amazon.com/premiumsupport/knowledge-center/aws-phone-support/"
                     class="text-grower-500 hover:underline break-all">
                    https://aws.amazon.com/premiumsupport/knowledge-center/aws-phone-support/
                  </a>
                </p>
                <p>
                  <strong>Address:</strong> 410 Terry Avenue North, Seattle, WA 98109-5210
                </p>
              </td>
            </tr>
            <tr>
              <td class="border p-4">Hotjar Limited</td>
              <td class="border p-4">
                <p class="mb-2">
                  <strong>Website:</strong>
                  <a href="https://www.hotjar.com/contact-sales/"
                     class="text-grower-500 hover:underline break-all">
                    https://www.hotjar.com/contact-sales/
                  </a>
                </p>
                <p>
                  <strong>Address:</strong> 53 Beach St, New York, NY 10013-2304, United States
                </p>
              </td>
            </tr>
            <tr>
              <td class="border p-4">Google Cloud</td>
              <td class="border p-4">
                <p class="mb-2">
                  <strong>Website:</strong>
                  <a href="mailto:support@google.com"
                     class="text-grower-500 hover:underline">
                    support@google.com
                  </a>
                </p>
                <p>
                  <strong>Telephone:</strong> (855) 817-0841
                </p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      <p>
      Additionally, if you have any questions or concerns about our third-party service providers, please email us at privacy@completefarmer.com.
      </p>
    </section>

    <section>

      <h2><strong>18. COPYRIGHT INFRINGEMENT/DMCA NOTICE</strong></h2>
      <p>If you believe that any content on our Website, App, or Services violates your copyright, and you wish to have the allegedly infringing material removed, the following information in the form of a written notification (pursuant to the Digital Millennium Copyright Act of 1998 (“DMCA Takedown Notice”)) must be provided to our designated Copyright Agent:</p>

      <ul>
        <li>Your physical or electronic signature;</li>
        <li>Identification of the copyrighted work(s) that you claim to have been infringed;</li>
        <li>Identification of the material on our Website, App, or Services that you claim is infringing and that you request us to remove;</li>
        <li>Sufficient information to permit us to locate such material;</li>
        <li>Your address, telephone number, and email address;</li>
        <li>A statement that you have a good faith belief that use of the objectionable material is not authorized by the copyright owner, its agent, or under the law;</li>
        <li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are either the owner of the copyright that has allegedly been infringed or that you are authorized to act on behalf of the copyright owner.</li>
      </ul>

      <p>Complete Farmer’s Copyright Agent to receive DMCA Takedown Notices is Ahmad Bilesanmi, at <a class="text-grower-500" href="mailto:privacy@completefarmer.com">privacy@completefarmer.com</a> and at Complete Farmer, Attn: DMCA Notice, 11 Molade-Akiwumi Street, Accra, Ghana.</p>

      <p>You acknowledge that for us to be authorized to take down any content, your DMCA Takedown Notice must comply with all the requirements of this Section. Please note that, pursuant to 17 U.S.C. § 512(f), any misrepresentation of material fact (falsities) in a written notification automatically subjects the complaining party to liability for any damages, costs, and attorney’s fees incurred by Complete Farmer in connection with the written notification and allegation of copyright infringement.</p>
    </section>

    <section>

      <h2><strong>19. ANTI-BRIBERY COMPLIANCE</strong></h2>
      <p>Complete Farmer represents and warrants that it is fully aware of and will comply with, and in the performance of its obligations hereunder will not take any action or omit to take any action that would cause it or its customers to be in violation of, (i) U.S. Foreign Corrupt Practices Act, (ii) U.K. Anti-Bribery Act, (iii) India Prevention of Corruption Act of 1988, or (iv) any other applicable anti-bribery statutes and regulations, and (v) any regulations promulgated under any such laws.</p>

      <p>Complete Farmer represents and warrants that neither it nor any of its employees, officers, or directors is an official or employee of any government (or any department, agency, or instrumentality of any government), political party, state-owned enterprise, or a public international organization such as the United Nations, or a representative of any such person (each, an “Official”).</p>

      <p>Complete Farmer further represents and warrants that, to its knowledge, neither it nor any of the Supplier Personnel has offered, promised, made or authorized to be made, or provided any contribution, thing of value or gift, or any other type of payment to, or for the private use of, directly or indirectly, any Official for the purpose of influencing or inducing any act or decision of the Official to secure an improper advantage in connection with, or in any way relating to:</p>

      <ul>
        <li>(A) any government authorization or approval involving Complete Farmer, or</li>
        <li>(B) the obtaining or retention of business by Complete Farmer.</li>
      </ul>

      <p>Supplier further represents and warrants that it will not in the future offer, promise, make or otherwise allow to be made or provide any payment and that it will take all lawful and necessary actions to ensure that no payment is promised, made, or provided in the future by any of the Supplier Personnel.</p>
    </section>


    <section>

      <h2><strong>20. CONTACT US</strong></h2>
      <p>To ask questions or comment about this Privacy Policy and our privacy practices, contact us at:</p>

      <p><strong>The Data Privacy Supervisor</strong></p>
      <ul>
        <li>Email: <a class="text-grower-500" href="mailto:privacy@completefarmer.com">privacy@completefarmer.com</a></li>
        <li>Address: Complete Farmer, 11 Molade-Akiwumi Street, Accra, Ghana</li>
      </ul>

      <p><strong>PLEASE NOTE:</strong> IF YOU USE OUR WEBSITE, APP, OR SERVICES, YOU HAVE AGREED TO AND ACCEPTED THE PRACTICES DESCRIBED IN THIS PRIVACY POLICY AND THE TERMS AND CONDITIONS SET FORTH IN OUR TERMS OF USE OR OUR TERMS OF SERVICE, AS APPLICABLE. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY OR OUR TERMS OF SERVICE, PLEASE DO NOT USE OUR WEBSITE, APP, OR SERVICES.</p>
    </section>
  </div>
</div>
