<div>
  <div
    class="text-base sm:text-xl space-y-1.5"
  >
    Your privacy is important to us so we have created this Privacy Policy (the
    “Policy”) to explain how we collect, use, disclose and protect your Personal
    Information. This Policy applies to information we collect when you use our
    website and mobile application to procure our farming services
    (collectively, “Services”) or otherwise interact with us.
    <br />
     This Policy applies to the services provided by Complete Farmer Limited
    (“Complete Farmer,” “We” or “Us”).
    <br />
     Complete Farmer acts as a venue to match Buyers and Sellers. Complete
    Farmer is not involved in the actual transaction between Buyers and Sellers
    and does not transfer legal ownership of items from the Sellers to Buyers.
  </div>
</div>
