---
import Title from "./Title.astro";
---

<div>
  <Title name="Social Sharing Features" />
  <div
    class="text-base sm:text-xl space-y-1.5"
  >
    You can engage with Us through social media websites or features such as
    plug-ins or applications on our Services that integrate with social media
    sites. You may also choose to link your Complete Farmer account account to
    third party social media sites. When you link your account or engage with Us
    on or through third party social media sites, plug-ins, or applications, you
    may allow Us to have ongoing access to certain information from your social
    media account (e.g., name, e-mail address, photo, gender, birthday, the
    posts or the ‘likes‘ you make).
    <br />
    <br />
     If you post information when you interact with our websites through social
    media sites, plug-ins or other applications, depending on your privacy
    settings, this information may become public on the internet.
  </div>
</div>
