---
import Title from "./Title.astro";
---

<div>
  <Title name="Updates and Changes to Privacy Statement" />
  <div
    class="text-base sm:text-xl space-y-1.5"
  >
    We may change this Policy from time to time. If We make changes, We will
    notify you by revising the date at the top of this Policy, and in some
    cases, We may provide you with additional notice (such as by by adding a
    statement to the homepages of our website or mobile application or by
    sending you an email notification). We encourage you to review the Policy
    whenever you interact with Us to stay informed about our information
    practices.
    <br />
    <br />
     If you feel that We are not abiding by this Policy, you should contact Us
    immediately via email at info@completefarmer.com
  </div>
</div>
