---
import { Image } from "astro:assets";

import Layouts from "@layouts/Layouts.astro";
import { Button } from "@components/utils";


import Image404 from "@assets/images/404/404.png";
import ImageDisc from "@assets/images/404/disconneted.png";
---

<Layouts
  title="404 | Complete Farmer"
  description="We are providing cutting-edge technological farming protocols and innovations with a unique business model and logistics that are revolutionizing..."
>
  <div
    class="lg:h-[90vh] lg:px-24 md:px-44 px-4 items-center flex justify-center flex-col-reverse lg:flex-row md:gap-28 gap-16"
  >
    <div class="w-full xl:w-1/2 relative pb-12 lg:pb-0">
      <div class="relative">
        <div class="absolute -top-28">
          <div class="space-y-4">
            <h1
              class="my-2 text-gray-800 font-bold text-2xl lg:text-[60px] lg:leading-[60px]"
            >
              Looks like you've found the doorway to the great nothing
            </h1>
            <p class="my-2 text-gray-800">
              Sorry about that! Please visit our hompage to get where you need
              to go.
            </p>
            <a href="/" class="w-44 block">
              <Button
                title="Go Home"
                className="py-4 shadow-md"
              />
            </a>
          </div>
        </div>
        <div>
          <Image src={Image404} alt="404" class="w-72 lg:w-fit" />
        </div>
      </div>
    </div>
    <div>
      <Image src={ImageDisc} alt="Disconneted" class="w-56 pb-14 lg:w-fit lg:pb-0" />
    </div>
  </div>
</Layouts>
