---
import Layouts from "../layouts/Layouts.astro";
---

<Layouts
  title="Complete Farmer"
  description="We are providing cutting-edge technological farming protocols and innovations with a unique business model and logistics that are revolutionizing..."
>
  <p>Hello world</p>
</Layouts>
