---
import Title from "./Title.astro";
---

<div>
  <Title no="18." name="ANTI-BRIBERY AND EXPORT COMPLIANCE" />
  <p class="text-base sm:text-xl">
    You agree not to promote, approach, use, distribute, transfer, provide,
    sub-license, share with, or otherwise offer our Website or App in violation
    of any laws or this Agreement, including, without limitation, the United
    States Foreign Corrupt Practices Act, the UK Bribery Act and similar
    anti-corruption statutes in all jurisdictions. Without limiting the
    foregoing, you will not knowingly directly or indirectly export, re-export,
    transfer, make available or release (collectively, “Export”) our Website or
    App to any destination, person, entity or end-use prohibited or restricted
    under the US law without prior US government authorization to the extent
    required by the applicable export control regulations, including without
    limitation, to any parties listed on any of the denied parties lists or
    specially designated nationals lists maintained under the Export
    Administration Regulations or the Security, and the Foreign Asset Control
    Regulations (31 CFR 500 et seq.) administered by the US Department of
    Treasury, Office of Foreign Assets Control without appropriate US government
    authorization to the extent required by the applicable regulations.
  </p>
</div>
