---
import Title from "./Title.astro";
---

<div>
  <Title no="17." name="ASSIGNMENT" />
  <p class="text-base sm:text-xl">
    You understand and agree that you may receive information and push
    notifications from Complete Farmer via email, our App, text message on your
    mobile device, or calls to your mobile number. You hereby consent to receive
    communications via email, our App, text message on your mobile device, or
    calls to your mobile number. You acknowledge that you may incur additional
    charges or fees from your wireless provider for these communications,
    including text message charges and data usage fees, and you acknowledge and
    agree that you are solely responsible for any such charges and fees and not
    Complete Farmer.
  </p>
</div>
