---
import Title from "./Title.astro";
---

<div>
  <Title no="13." name="DISCLAIMERS" />
  <div
    class="text-base sm:text-xl space-y-4"
  >
    <p>
      Your access to and use of our Website and App or any content are at your
      own risk. You understand and agree that our Website and App are provided
      to you on an “AS IS” and “AS AVAILABLE” basis. Without limiting the
      foregoing, to the maximum extent permitted under applicable law, WE
      DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF
      MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
      We make no warranty or representation and disclaim all responsibility and
      liability for: (i) the completeness, accuracy, availability, timeliness,
      security or reliability of our Website or App or any content; (ii) any
      harm to your computer system, loss of data, or other harm that results
      from your access to or use of our Website or App or any content; (iii) the
      deletion of, or the failure to store or to transmit, any content and other
      communications maintained by our Website or App; and (iv) whether our
      Website or App will meet your requirements or be available on an
      uninterrupted, secure, or error-free basis. No advice or information,
      whether oral or written, obtained from us or through our Website or App,
      will create any warranty or representation not expressly made herein. Your
      access to and use of our Website and App or any content are at your own
      risk. You understand and agree that our Website and App are provided to
      you on an “AS IS” and “AS AVAILABLE” basis. Without limiting the
      foregoing, to the maximum extent permitted under applicable law, WE
      DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF
      MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
      We make no warranty or representation and disclaim all responsibility and
      liability for: (i) the completeness, accuracy, availability, timeliness,
      security or reliability of our Website or App or any content; (ii) any
      harm to your computer system, loss of data, or other harm that results
      from your access to or use of our Website or App or any content; (iii) the
      deletion of, or the failure to store or to transmit, any content and other
      communications maintained by our Website or App; and (iv) whether our
      Website or App will meet your requirements or be available on an
      uninterrupted, secure, or error-free basis. No advice or information,
      whether oral or written, obtained from us or through our Website or App,
      will create any warranty or representation not expressly made herein.{" "}
    </p>
    <p>
      Complete Farmer DOES NOT REVIEW, VERIFY, REVISE, ENDORSE, OR OTHERWISE
      APPROVE ANY CONTENT CREATED OR POSTED BY OUR USERS, AND COMMUNICATED TO
      OTHER USERS OR THIRD PARTIES VIA OUR WEBSITE OR APP, BUT Complete Farmer
      WILL REMOVE CONTENT THAT VIOLATES ANY LAWS OR THIS AGREEMENT. UNDER NO
      CIRCUMSTANCES WILL Complete Farmer BE LIABLE IN ANY WAY FOR ANY CONTENT
      CREATED OR POSTED BY OUR USERS FOR, INCLUDING, WITHOUT LIMITATION, ANY
      ERRORS OR OMISSIONS IN ANY CONTENT, OR ANY LOSS OR DAMAGE OF ANY KIND
      INCURRED AS A RESULT OF SUCH CONTENT. THE CONTENT IS SOLELY CREATED BY OUR
      USERS, AND Complete Farmer SPECIFICALLY DISCLAIMS ANY AND ALL ROLE
      WHATSOEVER WITH RESPECT TO THE CREATION OR POSTING OF SUCH CONTENT.{" "}
    </p>
  </div>
</div>
