---
import Title from "./Title.astro";
---

<div>
  <Title no="5." name="ELIGIBILITY & ACCESS RESTRICTIONS " />
  <p class="text-base sm:text-xl">
    To be eligible to use our Website or App, you must meet the following
    criteria and represent and warrant that you: (a) are 18 years of age or
    older; (b) are not currently restricted from accessing our Website or App,
    or not otherwise prohibited from having an account, (c) are not our
    competitor, or are not using our Website or App for reasons that are in
    competition with us; (d) will only maintain one registered account at any
    given time; (e) have full power and authority to enter into this Agreement
    and doing so will not violate any other agreement to which you are a party;
    (f) will not violate any of our rights, including intellectual property
    rights such as patent, copyright, and trademark rights; and (g) agree to
    provide at your cost all equipment, browser software, and internet access
    necessary to use our Website or App.
  </p>
</div>
