<div
  class="text-base sm:text-xl space-y-4"
>
  <p>
    WE WILL POST ANY CHANGES TO THESE TERMS OF USE IN A NOTICE OF THE CHANGE AT
    THE BOTTOM OF OUR WEB PAGE WITH A HYPERLINK THERETO. WE WILL ALSO SEND YOU
    AN EMAIL DESCRIBING SUCH CHANGES. PLEASE REGULARLY REVIEW THESE TERMS OF
    USE. NOTWITHSTANDING IF YOU CONTINUE TO USE OUR SERVICES, YOU ARE BOUND BY
    ANY CHANGES THAT WE MAKE TO THESE TERMS OF USE.
  </p>
  <p>
    These Terms of Use (“Agreement” or “Terms of Use”) are a legally binding
    agreement between you (the “User,” “you,” or “your”) and Reverberation Tech
    Pvt. Ltd. and Completefarmer Technologies Inc. (“Complete Farmer,” “we,”
    “us,” “our”). You acknowledge and agree that your access of Complete
    Farmer’s Website at{" "}
    <a href="/" class="hover:underline text-blue-600 dark:text-blue-500">
      completefarmer.com
    </a>{" "}
     (the “Website”) and Complete Farmer’s mobile application (the “App”) will
    be governed by this Agreement, our Privacy Policy, and any related terms.
  </p>

  <p>
    If you are unsure as to the terms of this Agreement, please do not proceed
    further and contact us at{" "}
    <a
      href="mailto:support@completefarmer.com?subject=Help With Term & Condition"
      class="hover:underline text-blue-600 dark:text-blue-500"
    >
      support@completefarmer.com
    </a>
     .
  </p>

  <p>
    Your use of our Website or App shall constitute your acceptance of this
    Agreement and to all of the terms and conditions stated under this
    Agreement, and our{" "}
    <a
      href="/legal/privacy-policy"
      class="hover:underline text-blue-600 dark:text-blue-500"
    >
      Privacy Policy
    </a>{" "}
     referenced herein.
  </p>

  <p>
    PLEASE READ THE TERMS CONTAINED IN THIS AGREEMENT CAREFULLY TO ENSURE THAT
    YOU UNDERSTAND EACH PROVISION. PLEASE NOTE THAT THESE TERMS CONTAIN A
    BINDING AND MANDATORY ARBITRATION PROVISION AND CLASS ACTION/JURY TRIAL
    WAIVER PROVISION THAT REQUIRES THE USE OF ARBITRATION ON AN INDIVIDUAL BASIS
    TO RESOLVE DISPUTES, RATHER THAN JURY TRIALS OR CLASS ACTIONS AND LIMITS
    REMEDIES AVAILABLE TO YOU IN THE EVENT OF CERTAIN DISPUTES.
  </p>

  <p>
    BY ACCEPTING THIS AGREEMENT, EITHER BY CLICKING A BOX INDICATING YOUR
    ACCEPTANCE OR BY USING AND NAVIGATING THROUGH OUR WEBSITE AND/OR APP, YOU
    AGREE THAT (A) YOU HAVE READ AND UNDERSTOOD THE AGREEMENT; (B) <strong
      >YOU REPRESENT THAT YOU ARE AT LEAST 18 YEARS OLD</strong
    >; (C) YOU CAN FORM A BINDING CONTRACT; AND (D) YOU ACCEPT THIS AGREEMENT
    AND AGREE THAT YOU ARE LEGALLY BOUND BY ITS TERMS, AS WELL AS OUR PRIVACY
    POLICY REFERENCED HEREIN. IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF
    OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE
    AUTHORITY TO BIND SUCH ENTITY AND ITS AFFILIATES TO THESE TERMS AND
    CONDITIONS, IN WHICH CASE THE TERMS “YOU” OR “YOUR” SHALL REFER TO SUCH
    ENTITY AND ITS AFFILIATES. IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO
    NOT AGREE WITH THIS AGREEMENT, YOU MUST NOT ACCEPT THIS AGREEMENT AND MAY
    NOT USE OUR WEBSITE OR APP.
  </p>

  <p>
    Capitalized terms not defined herein shall have the same meaning ascribed to
    them under our{" "}
    <a
      href="/legal/privacy-policy"
      class="hover:underline text-blue-600 dark:text-blue-500"
    >
      Privacy Policy
    </a>{" "}
     .
  </p>
</div>
