---
import Title from "./Title.astro";
---

<div>
  <Title no="21." name="GOVERNING LAW" />
  <p class="text-base sm:text-xl">
    This Agreement shall be governed by the law of the State of Delaware,
    without respect to its conflicts of laws principles. Each of the parties to
    this Agreement consents to the exclusive jurisdiction and venue of the state
    and federal courts located in Santa Clara County, California for any actions
    not subject to Dispute Resolution and Arbitration provisions as set forth in
    <u>Section 24</u>.
  </p>
</div>
