---
import Title from "./Title.astro";
---

<div>
  <Title no="1." name="INTRODUCTION TO COMPLETE FARMER" />
  <p class="text-base sm:text-xl">
    Complete Farmer is a tech enabled business that has built a digital
    marketplace to enable global agricultural commodity Sellers to source for
    their agricultural commodities grown directly a farmer using big data, IoT
    and precision agriculture. Complete Farmer provides an end-to-end platform
    (“Platform”) for global industries to build their supply chains to source
    for agricultural commodities directly from farmers (“Services”).
  </p>
</div>
