---
import Title from "./Title.astro";
---

<div>
  <Title no="14." name="LIMITATION OF LIABILITY" />
  <p class="text-base sm:text-xl">
    You acknowledge and agree that, in no event will Complete Farmer be liable
    to you or any third party for any indirect, punitive, exemplary, incidental,
    special, or consequential damages whether in contract, tort (including
    negligence), or otherwise arising out of this Agreement, or the use of, or
    the inability to use, our Website or App, including, without limitation, any
    information made available through our Website or App pursuant to this
    Agreement. In the event the foregoing limitation of liability is determined
    by a court of competent jurisdiction to be unenforceable, then the maximum
    liability for all claims of every kind will not exceed one times (1x) the
    aggregate of payments received under this Agreement. The foregoing
    limitation of liability will cover, without limitation, any technical
    malfunction, computer error or loss of data, and any other injury arising
    from the use of our Website or App. Some jurisdictions do not allow the
    exclusion of certain warranties or the limitation or exclusion of liability
    for incidental or consequential damages. To the extent that Complete Farmer
    may not disclaim any implied warranty or limit its liabilities, the scope
    and duration of such warranty and the extent of Complete Farmer’s liability
    will be the minimum permitted under applicable law.
  </p>
</div>
