---
import Title from "./Title.astro";
---

<div>
  <Title no="19." name="MODIFICATIONS" />
  <p class="text-base sm:text-xl">
    We will post any changes to these Terms of Use in a notice of the change at
    the bottom of our web page with a hyperlink thereto. We will also send you
    an email describing such changes. Please regularly review these Terms of
    Use. Notwithstanding if you continue to use our services, you are bound by
    any changes that we make to these Terms of Use.
  </p>
</div>
