---
import Title from "./Title.astro";
---

<div>
  <Title no="6." name="PAYMENT" />
  <p class="text-base sm:text-xl">
    Our Website is currently provided to you at no cost. In the event that we
    change this in the future, we will communicate such modification to you as
    per the procedure detailed under this Agreement.
  </p>
</div>
