---
import Title from "./Title.astro";
---

<div>
  <Title no="20." name="RELATIONSHIP OF PARTIES" />
  <p class="text-base sm:text-xl">
    The parties hereto are independent contractors, and nothing contained herein
    shall be interpreted as creating any relationship other than that of
    independent contracting parties. The parties shall not be construed as being
    partners, joint ventures, shareholders, employer/employee, or agent/servant.
    The User has no power or authority to bind Complete Farmer to any
    obligation, agreement, debt or liability. The User shall not hold itself out
    as an agent or representative of Complete Farmer.
  </p>
</div>
