---
import Title from "./Title.astro";
---

<div>
  <Title no="7." name="SERVICE LICENSE" />
  <div
    class="text-base sm:text-xl space-y-4"
  >
    <p>
      Subject to your compliance with the terms of this Agreement, we grant you
      a limited, non-exclusive, revocable, non-transferable, non-licensable,
      non-sublicensable license to access and use our Website or App to: (a)
      download, install, and use our App for your use in accordance with this
      Agreement on any mobile device owned or otherwise controlled by you
      strictly in accordance with this Agreement, and (b) access, stream,
      download, and use on your mobile device our Website or App and content
      made available in or otherwise accessible through our Website or App,
      strictly in accordance with this Agreement.
    </p>
    <p>
      You will not use, copy, adapt, modify, prepare derivative works based upon
      our Website or App, distribute, license, sell, transfer, publicly display,
      publicly perform, transmit, stream, broadcast or otherwise exploit our
      Website or App, except as expressly permitted in this Agreement. When
      using and accessing our Website or App, you need to make sure that your
      internet connection is adequate. You are solely responsible for your
      internet connection including and not limited to the applicable charges,
      rates, tariffs, and other fees that might apply.
    </p>
    <p>
      YOU AGREE THAT WE ARE NOT LIABLE FOR ANY DAMAGES OR INJURY RESULTING FROM
      YOUR ACCESS OR USE OF OUR WEBSITE OR APP. WE PROVIDE NO WARRANTY OF
      FITNESS FOR A PARTICULAR PURPOSE OR WARRANTY OF MERCHANTABILITY. THERE IS
      NO WARRANTY WHICH WILL EXTEND BEYOND THE DESCRIPTION ON THE FACE HEREOF.
      ANY DAMAGE ALLEGED FOR A LOSS OR INJURY IS LIMITED TO THE FEE, IF ANY,
      PAID TO COMPLETE FARMER FOR THE ABILITY TO ACCESS OR USE OUR WEBSITE OR
      APP.
    </p>
  </div>
</div>
