---
import Title from "./Title.astro";
---

<div>
  <Title no="8." name="ACCESS AND SERVICE RESTRICTIONS " />
  <div
    class="text-base sm:text-xl space-y-4"
  >
    <p>
      You agree that our Website, App, graphics, trademarks, and editorial
      content, contains proprietary content, information, and material, which
      are owned by Complete Farmer and/or our licensors, including our
      customers, brands and agencies, and are protected by applicable
      intellectual property and other laws, including but not limited to
      copyright. You agree that you will not use such proprietary content,
      information or materials other than for your permitted use of our Website
      or in any manner that is inconsistent with the terms contained in this
      Agreement.
    </p>
    <p>
      You agree not to modify, rent, lease, loan, sell, distribute, or create
      derivative works based on our Website or App, in any manner, and you will
      not exploit our Website or App in any unauthorized way whatsoever,
      including but not limited to, using our Website or App to transmit any
      computer viruses, worms, Trojan horses or other malware, or by trespassing
      or burdening network capacity. You further agree not to use our Website or
      App in any manner to harass, abuse, stalk, threaten, defame or otherwise
      infringe or violate the rights of any other party, and that we are not in
      any way responsible for any such use by you, nor for any harassing,
      threatening, defamatory, offensive, infringing or illegal messages or
      transmissions that you may receive as a result of using our Website or
      App.{" "}
    </p>
  </div>
</div>
