---
import Title from "./Title.astro";
---

<div>
  <Title no="2." name="TERRITORIAL RESTRICTION " />
  <div class="text-base sm:text-xl">
    Our Website and App are available for use and download globally. If you are
    a resident in the United States of America (“US”), you must comply with
    these Terms of Use, and our Privacy Policy. If you are a resident of any
    other country, please ensure compliance with all local laws prior to using
    our Website or App. If you have any questions regarding this Section, please
    email us at support@completefarmer.com.
  </div>
</div>
