---
import Title from "./Title.astro";
---

<div>
  <Title no="3." name="USE BY MINORS" />
  <div class="text-base sm:text-xl">
    <p>
      COMPLETE FARMER’S WEBSITE, AND SERVICES ARE NOT MEANT FOR USE BY PEOPLE
      UNDER THE AGE OF 18. IF YOU ARE UNDER 18, PLEASE DO NOT USE OUR WEBSITE,
      AND SERVICES ON YOUR OWN. We do not knowingly collect information for
      individuals under the age of 18. If we learn that we have collected or
      received any information for an individual under the age of 18, we will
      only use that information to respond directly to that child (or a parent,
      legal guardian or personal representative) to inform him or her that he or
      she cannot use our Service, and subsequently we will delete that
      information from our own servers.
    </p>
  </div>
</div>
