---
import Layouts from "@layouts/Layouts.astro";

import Main from "@components/contact-us/main";

import { getCategories } from "@utils/prismic";

const faqsCatApiData = await getCategories("faqs");
---

<Layouts
  title="Contact Us | Complete Farmer"
  description="We are providing cutting-edge technological farming protocols and innovations with a unique business model and logistics that are revolutionizing..."
>
  <div class="pt-24 pb-32 bg-contact-us-bg bg-cover">
    <div class="px-4 sm:px-12 mx-auto max-w-5xl lg:px-12 xl:px-16">
      <Main data={faqsCatApiData} client:load />
    </div>
  </div>
</Layouts>

<!-- <script type="text/javascript">
</script> -->
