.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  background-size: 24px 24px !important;
}

.swiper-button-prev {
  left: -20px;
}

.swiper-button-next {
  right: -20px;
}
