.swiper-button-prev,
.swiper-button-next {
  border-radius: 100%;
  background: white;
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  top: 48%;
}

.swiper-button-prev,
.swiper-button-next {
  background-position: center;
  background-image: url("../icons/slider-chevron.svg") !important;
}

.swiper-button-prev {
  left: 6.5%;
  transform: rotate(180deg);
}

.swiper-button-next {
  right: 6.5%;
}

.avalaible-swiper .swiper-button-prev {
  left: 0px;
}

.avalaible-swiper .swiper-button-next {
  right: 0px;
}

.avalaible-swiper .swiper-button-prev,
.avalaible-swiper .swiper-button-next {
  width: 40px;
  height: 40px;
  background-size: 24px 24px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

@media screen and (max-width: 1080px) {
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
}
